* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #000;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 1200px;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  width: 100%;
  height: 40vh;
  background-image: url('../images/andre-tan-THJJRUhNlEc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 25%;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  color: #fff;
  position: relative;
}

.h1-title {
  position: relative;
  font-size: 3.25rem;
  font-weight: 800;
}

.h1-title::before {
  position: absolute;
  content: '';
  bottom: -5%;
  right: 0;
  border: 4px solid #8ac926;
  width: 25%;
}

.link-navigate-pages {
  padding: 1em;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: .375em;
  background-color: #fff;
  cursor: pointer;
}

.link-navigate-pages:hover {
  background-color: #8ac926;
}

.link-navigate-pages a {
  padding: 1em;
  text-decoration: none;
  color: #000;
}

.link-navigate-pages a:hover {
  color: #fff;
}

.search-bar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 70%;
  height: 4em;
  padding-left: 3em;
  border: 1px solid #D1D5DB;
  border-radius: .375em;
  background-color: #fff;
}

.search-bar:focus {
  border: 2px solid #8ac926;
  outline: #90dbf4;
}

.search-bar::placeholder {
  font-size: 1rem;
  color: #D1D5DB;
}

.search-bar:focus::placeholder {
  color: transparent;
}

.icon-magn-glass {
  position: absolute;
  left: 16%;
  bottom: 0;
  transform: translate(50%, 50%);
  color: #9CA3AF;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 6.25em 5em 5em;
  width: 100%;
  min-height: 60vh;
  background-color: #fff;
}

.content.active {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.2;
  cursor: wait;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-spinner {
  display: none;
  position: absolute;
  top: 0;
  font-size: 5em;
  color: #8ac926;
  animation: green-spinner 1.5s ease infinite;
}

.green-spinner.active {
  display: flex;
}

@keyframes green-spinner {
to {
    transform: rotate(360deg);
  }
}

.contentDiv {
  display: flex;
  justify-content: flex-start;
  gap: 4em;
  padding-bottom: 4em;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.contentP {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 55%;
}

img {
  border-radius: .375em;
  width: 25%;
  height: 100%;
}

.no-content > * {
  font-size: 3rem;
  text-align: center;
  color: #DFDDDD;
}

.rating,
.runtime,
.activity-button {
  font-size: .9rem;
  font-weight: 400;
  color: #111827;
}

.title {
  font-weight: 600;
}

.rating {
  margin-left: 1em;
}

.genre {
  margin: 0 2em 0 1em;
}

.activity-button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activity-button:active {
  transform: scale(1.1);
}

.activity-button:hover {
  font-weight: 600;
  color: #8ac926;
}

.plot {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6B7280;
}

.p-watchlist {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 1em;
  color: #DFDDDD;
}

.p-lets-add-some-movies {
  font-size: 1.1rem;
  font-weight: 700;
  color: #363636;
}

.error-messages-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1300px) {
  .section-container {
    width: 85%;
  }
}

@media screen and (max-width: 1100px) {
  .section-container {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 3em;
  }

  .contentDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .contentP {
    justify-content: center;
    align-items: center;
    width: 75%;
  }

  .plot {
    text-align: center;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  img {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .header-watchlist {
    gap: 2em;
  }

  .content {
    gap: 3.5em;
    padding: 5.25em 4em 4em;
  }
  
  .contentDiv {
    padding-bottom: 3em;
  }
  
  .contentP {
    width: 90%;
  }

  img {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    padding: 5.25em 3.5em 3.5em;
  }

  .contentP {
    width: 100%;
  }

  .h1-title {
    font-size: 3rem;
  }

  img {
    width: 50%;
  }

  .rating {
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 50vh;
  }

  .search-bar {
    border: 1px solid #999;
  }

  .content {
    justify-content: flex-start;
    min-height: 50vh;
  }

  .contentDiv {
    padding-bottom: 3em;
  }

  .runtime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
  }

  .genre {
    margin: 0;
    text-align: center;
  }

  .activity-button {
    margin: 1em;
  }

  img {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .h1-title {
    font-size: 2.5rem;
  }

  img {
    width: 70%;
  }
}

@media screen and (max-width: 405px) {
  .content {
    padding: 5.25em 2em 2em;
  }

  .h1-title {
    font-size: 2.25rem;
  }

  img {
    width: 80%;
  }
}